<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
    default-lazy-init="false">
	
<bean id="aftRepyClearDao" class="app.creditapp.aft.dao.impl.AftRepyClearDaoImpl">
	<property name="sqlMapClient" ref="sqlMapClient"/>
</bean>	

<bean id="aftRepyClearBo" class="app.creditapp.aft.bo.impl.AftRepyClearBoImpl">
	<property name="aftRepyClearDao" ref="aftRepyClearDao"/>
	<property name="acLnMstDao" ref="acLnMstDao"/>
	<property name="acLnRepayPlnCurDao" ref="acLnRepayPlnCurDao"/>
	<property name="wsRepyClearDao" ref="wsRepyClearDao"/>
	<property name="lnDueDao" ref="lnDueDao"/>
	<property name="lnAcctDao" ref="lnAcctDao"/>
	<property name="acDebitSuspDao" ref="acDebitSuspDao"/>
	<property name="acTraceLogDao" ref="acTraceLogDao"/>
	<property name="projAcctDao" ref="projAcctDao"/>
	<property name="acDebitDao" ref="acDebitDao"/>
	<property name="acLoanBackLogDao" ref="acLoanBackLogDao"/>
	<property name="corpAcctDao" ref="corpAcctDao"/>
	<property name="acLoanLogDao" ref="acLoanLogDao"/>
	<property name="wsBaseDao" ref="wsBaseDao"/>
	<property name="projBaseDao" ref="projBaseDao"/>
	<property name="wsRepyFineDao" ref="wsRepyFineDao"/>
	<property name="acLnLoDao" ref="acLnLoDao"/>
	<property name="acLnRepayPlnDao" ref="acLnRepayPlnDao"/>
	<property name="corpBaseDao" ref="corpBaseDao"/>
</bean>
	
</beans>

