<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="rptPrdtDailyDao" class="app.creditapp.bat.dao.impl.RptPrdtDailyDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	
	<bean id="rptPrdtDailyBo" class="app.creditapp.bat.bo.impl.RptPrdtDailyBoImpl">
		<property name="rptPrdtDailyDao" ref="rptPrdtDailyDao"/>
	</bean>
</beans>
