<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
    default-lazy-init="false">
	
<bean id="aftReliefDao" class="app.creditapp.acc.chg.dao.impl.AftReliefDaoImpl">
	<property name="sqlMapClient" ref="sqlMapClient"/>
</bean>	

<bean id="aftReliefBo" class="app.creditapp.acc.chg.bo.impl.AftReliefBoImpl">
	<property name="aftReliefDao" ref="aftReliefDao"/>
	<property name="acLnMstDao" ref="acLnMstDao"/>
	<property name="acChrgLogDao" ref="acChrgLogDao"/>
	<property name="acLnLoDao" ref="acLnLoDao"/>
	<property name="acTraceLogDao" ref="acTraceLogDao"/>
	<property name="dataSource" ref="dataSource"/>
	<property name="aftReliefDtlDao" ref="aftReliefDtlDao"/>
	<property name="wkfApprovalUserBo" ref="wkfApprovalUserBo"/>
	<property name="wkfInterface" ref="wkfInterface"/>
	<property name="acLnRepayPlnDao" ref="acLnRepayPlnDao"/>
	<property name="wsRedctnDao" ref="wsRedctnDao"/>
</bean>
	
</beans>

