<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  修改说明:
  请修改方言Dialect以适应不同的数据库分页
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName" default-lazy-init="false">
    
    <bean id="cancelBo" class="app.creditapp.acc.cancel.bo.impl.CancelBoImpl" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>
