<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
    default-lazy-init="false">
	
<bean id="cifBlackAppDao" class="app.creditapp.cred.dao.impl.CifBlackAppDaoImpl">
	<property name="sqlMapClient" ref="sqlMapClient"/>
</bean>	

<bean id="cifBlackAppBo" class="app.creditapp.cred.bo.impl.CifBlackAppBoImpl">
	<property name="cifBlackAppDao" ref="cifBlackAppDao"/>
	<property name="wkfApprovalUserBo" ref="wkfApprovalUserBo"/>
	<property name="wkfInterface" ref="wkfInterface"/>
	<property name="cifBlackDao" ref="cifBlackDao"/>
</bean>
	
</beans>

