/app/
/accounting/
/application.properties
/applicationContext.xml
/cms.identity.hbm.xml
/ibatis-config/
/ibatis-files.xml
/log4j.properties
/mappingConfig.properties
/path.properties
/redis.properties
/rule-config/
/rule-files.xml
/spring-config/
/spring-files.xml
/sql-map-config.xml
/struts-config/
/struts.xml
/webservice-cxf.xml
/workflow.hibernate.cfg.xml
